#### Imports

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:

# Load data
df = pd.read_csv('./datasets/CovidVaccinations.csv', sep=';', decimal=',', parse_dates=['date'], dayfirst=True)

# Change date format to YYYY-MM-DD
df['date'] = df['date'].dt.strftime('%Y-%m-%d')

# Replace commas with periods in all columns
for col in df.columns:
    if df[col].dtype == object:
        df[col] = df[col].str.replace(',', '.')

# Handle missing values
df.fillna('NULL', inplace=True)

In [3]:
df.head()

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,NULL,NULL,NULL,NULL,NULL,NULL,...,1803.987,NULL,597.029,9.59,NULL,NULL,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,NULL,NULL,NULL,NULL,NULL,NULL,...,1803.987,NULL,597.029,9.59,NULL,NULL,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,NULL,NULL,NULL,NULL,NULL,NULL,...,1803.987,NULL,597.029,9.59,NULL,NULL,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,NULL,NULL,NULL,NULL,NULL,NULL,...,1803.987,NULL,597.029,9.59,NULL,NULL,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,NULL,NULL,NULL,NULL,NULL,NULL,...,1803.987,NULL,597.029,9.59,NULL,NULL,37.746,0.5,64.83,0.511

In [4]:
# Save the DataFrame to a new CSV file
df.to_csv('covidvaccinations1.csv', index=False)

In [8]:
# Load data
df = pd.read_csv('./datasets/covidvaccinations1.csv')

# Create SQL engine
engine = create_engine('mysql+mysqlconnector://root:password@localhost:3306/Portfolio')

# Write data to SQL
df.to_sql('covidvaccinations', engine, if_exists='append', index=False)

-1