#### Imports

In [26]:
import pandas as pd
from sqlalchemy import create_engine

##### SQL Engine

In [27]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
%%sql
mysql+mysqlconnector://root:passw0rd@localhost:3306/Portfolio

'Connected: root@Portfolio'

In [29]:
%%sql 
# checking if the connection is working
select count(*) from coviddeaths limit 10;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
1 rows affected.

[(65534,)]

##### Data Exploration

In [30]:
%%sql 
-- Select the data that we're going to be working with

Select location, date, total_cases, new_cases, total_deaths, population 
From coviddeaths
Where continent is not null
Order by 1,2
LIMIT 3;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
3 rows affected.

[('Afghanistan', '2020-01-03', 1.0, 0.0, None, 38928341.0),
 ('Afghanistan', '2020-01-04', 197.0, 22.0, 4.0, 38928341.0),
 ('Afghanistan', '2020-01-05', 2291.0, 164.0, 68.0, 38928341.0)]

In [31]:
%%sql 

-- Looking at total cases vs total deaths 
Select continent, date, total_cases, total_deaths, (total_deaths/total_cases)* 100 AS death_percentage
From coviddeaths
Where continent is not null
Order by 1,2
LIMIT 3;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
3 rows affected.

[('Africa', '2020-01-03', 1.0, None, None),
 ('Africa', '2020-01-03', None, None, None),
 ('Africa', '2020-01-03', 1.0, None, None)]

In [32]:
%%sql 

-- Looking at total cases vs total deaths  - drillind down to countries
-- Shows the likelihood of dying in the respective country
Select location, date, total_cases, total_deaths, (total_deaths/total_cases)* 100 AS death_percentage
From coviddeaths
WHERE location LIKE '%Germany%' and continent is not null
Order by 1,2
LIMIT 3;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
3 rows affected.

[('Germany', '2020-01-02', 8.0, None, None),
 ('Germany', '2020-01-03', 130.0, None, None),
 ('Germany', '2020-01-04', 77872.0, 920.0, 1.1814259297308405)]

In [33]:
%%sql 

-- Looking at total cases vs population
-- Shows the percentage of the population has covid
Select location, date, total_cases, population, (total_deaths/population)*100 AS contracted_covid
From coviddeaths
WHERE location LIKE '%Germany%' and continent is not null
Order by 1,2
LIMIT 3;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
3 rows affected.

[('Germany', '2020-01-02', 8.0, 83783945.0, None),
 ('Germany', '2020-01-03', 130.0, 83783945.0, None),
 ('Germany', '2020-01-04', 77872.0, 83783945.0, 0.0010980624032444404)]

In [34]:
%%sql 
-- Looking at countries with highest infection rate compared to population 
Select  location, population, MAX(total_cases) as highest_infection_count,MAX( (total_deaths/population))*100 AS per_pop_infected
From coviddeaths
Where continent is not null
Group by location, population
Order by per_pop_infected DESC
LIMIT 3;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
3 rows affected.

[('Hungary', 9660350.0, 779348.0, 0.2850828386135078),
 ('Czechia', 10708982.0, 1630758.0, 0.27329395081624),
 ('Bosnia and Herzegovina', 3280815.0, 198461.0, 0.2606364577094411)]

In [47]:
%%sql 

-- Breaking things down by continent 
Select continent, MAX(total_deaths) as total_death_count
From coviddeaths
Where continent is not null
Group by continent
Order by total_death_count DESC
LIMIT 3;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
3 rows affected.

[('South America', 403781.0), ('North America', 216907.0), ('Asia', 211853.0)]

In [48]:
%%sql
-- Showing countries with the highest death count per population 
-- These numbers are correct, could be due to how the data was organised 
Select location, MAX(total_deaths) as total_death_count
From coviddeaths
Where continent is  null
Group by location
Order by total_death_count DESC
LIMIT 3;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
3 rows affected.

[('Europe', 1016750.0),
 ('North America', 847942.0),
 ('European Union', 688896.0)]

In [49]:
%%sql 

-- Showing countries with the highest death count per population 
Select location, MAX(total_deaths) as total_death_count
From coviddeaths
Where continent is not null
Group by location
Order by total_death_count DESC
LIMIT 3;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
3 rows affected.

[('Brazil', 403781.0), ('Mexico', 216907.0), ('India', 211853.0)]

In [50]:
%%sql 
-- Global numbers 
Select  SUM(new_cases) as total_new_cases, SUM(new_deaths) as total_new_deaths,( SUM(new_deaths)/SUM(new_cases)) *100 as gloabl_percentage
From coviddeaths
Where continent is not null
Order by 1,2
LIMIT 3;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
1 rows affected.

[(97162162.0, 2172084.0, 2.235524565622572)]

In [51]:
%%sql 
-- Global numbers drilled down by date
Select date, SUM(new_cases) as new_cases, SUM(new_deaths) as new_deaths,( SUM(new_deaths)/SUM(new_cases)) *100 as gloabl_percentage
From coviddeaths
Where continent is not null
Group by date
Order by 1,2
LIMIT 3;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
3 rows affected.

[('2020-01-01', None, None, None),
 ('2020-01-02', 2101.0, 46.0, 2.1894336030461687),
 ('2020-01-03', 1702.0, 52.0, 3.055229142185664)]

In [52]:
%%sql 

-- joining with the vaccinations table 
Select * 
From coviddeaths as cd
Join covidvaccinations as cv
on cd.location = cv.location
and cd.date = cv.date
Limit 3;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
3 rows affected.

[('AFG', 'Asia', 'Afghanistan', '2020-02-24', 38928341.0, 1.0, 1.0, None, None, None, None, 0.026, 0.026, None, None, None, None, None, None, None, None, None, None, None, None, None, 'AFG', 'Asia', 'Afghanistan', '2020-02-24', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 8.33, 54.422, 18.6, 2.581, 1.337, 1803.987, None, 597.029, 9.59, None, None, 37.746, 0.5, 64.83, 0.511),
 ('AFG', 'Asia', 'Afghanistan', '2020-02-25', 38928341.0, 1.0, 0.0, None, None, None, None, 0.026, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, 'AFG', 'Asia', 'Afghanistan', '2020-02-25', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 8.33, 54.422, 18.6, 2.581, 1.337, 1803.987, None, 597.029, 9.59, None, None, 37.746, 0.5, 64.83, 0.511),
 ('AFG', 'Asia', 'Afghanistan', '2020-02-26', 38928341.0, 1.0, 0.0, None, None, None, None, 0.026, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, 'AFG', 'Asia', 'Afghanistan', '2020-02-26', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 8.33, 54.422, 18.6, 2.581, 1.337, 1803.987, None, 597.029, 9.59, None, None, 37.746, 0.5, 64.83, 0.511)]

In [53]:
%%sql 
				   
-- Looking at total population vs vaccination
Select cd.continent, cd.location, cd.date, cd.population, cv.new_vaccinations
From coviddeaths as cd                                        
Inner Join covidvaccinations as cv
on cd.location = cv.location
and cd.date = cv.date
Where cd.continent is not null
Order by cv.new_vaccinations DESC
Limit 3;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
3 rows affected.

[('Asia', 'China', '2021-04-30', 1439323774.0, 11601000.0),
 ('Asia', 'China', '2021-04-29', 1439323774.0, 9558000.0),
 ('Asia', 'China', '2021-04-28', 1439323774.0, 7929000.0)]

In [54]:
%%sql 

-- Looking at new vaccinations per day, rolling average 
Select cd.continent, cd.location, cd.date, cd.population, cv.new_vaccinations,
SUM(cv.new_vaccinations) Over(partition by location Order by cd.location,date) as rolling_total_vaccinations 
From coviddeaths as cd                                        
Inner Join covidvaccinations as cv
on cd.location = cv.location
and cd.date = cv.date
Where cd.continent is not null
Order by 2,3
Limit 3;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
3 rows affected.

[('Asia', 'Afghanistan', '2020-01-03', 38928341.0, None, None),
 ('Asia', 'Afghanistan', '2020-01-04', 38928341.0, None, None),
 ('Asia', 'Afghanistan', '2020-01-05', 38928341.0, None, None)]

In [55]:
%%sql 
-- Looking at total populations vs vaccinatins using CTE
With popvsvac as (
Select cd.continent, cd.location, cd.date, cd.population, cv.new_vaccinations,
SUM(cv.new_vaccinations) Over(partition by location Order by cd.location,date) as rolling_total_vaccinations
From coviddeaths as cd                                        
Inner Join covidvaccinations as cv
on cd.location = cv.location
and cd.date = cv.date
Where cd.continent is not null
Order by 2,3)
Select *, (rolling_total_vaccinations/population) * 100 as percent_vaccinated
From popvsvac
Limit 3;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
3 rows affected.

[('Asia', 'Afghanistan', '2020-01-03', 38928341.0, None, None, None),
 ('Asia', 'Afghanistan', '2020-01-04', 38928341.0, None, None, None),
 ('Asia', 'Afghanistan', '2020-01-05', 38928341.0, None, None, None)]

In [44]:
%%sql 

-- Looking at total populations vs vaccinatins using TEMP TABLE
-- TEMP TABLE 
-- First, we create a temporary table with the necessary columns
CREATE TEMPORARY TABLE temp_popvsvac (
    continent VARCHAR(50),
    location VARCHAR(50),
    date DATE,
    population FLOAT,
    new_vaccinations FLOAT,
    rolling_total_vaccinations FLOAT
);

-- Then, we populate the temporary table with data
INSERT INTO temp_popvsvac (continent, location, date, population, new_vaccinations, rolling_total_vaccinations)
SELECT 
    cd.continent, 
    cd.location, 
    cd.date, 
    cd.population, 
    cv.new_vaccinations,
    SUM(cv.new_vaccinations) OVER(PARTITION BY location ORDER BY cd.location, date) as rolling_total_vaccinations
FROM 
    coviddeaths as cd                                        
INNER JOIN 
    covidvaccinations as cv
ON 
    cd.location = cv.location
    AND cd.date = cv.date
WHERE 
    cd.continent is not null;

-- Finally, we query the temporary table
SELECT 
    *, 
    (rolling_total_vaccinations/population) * 100 as percent_vaccinated
FROM 
    temp_popvsvac 
    Limit 3;

DROP TABLE if exists temp_popvsvac;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
0 rows affected.
62322 rows affected.
3 rows affected.
0 rows affected.

[]

In [45]:
%%sql 


-- Create view to store data for later visualizations 
Create View PercentPeopleVaccindated as
Select cd.continent, cd.location, cd.date, cd.population, cv.new_vaccinations,
SUM(cv.new_vaccinations) Over(partition by location Order by cd.location,date) as rolling_total_vaccinations 
From coviddeaths as cd                                        
Inner Join covidvaccinations as cv
on cd.location = cv.location
and cd.date = cv.date
Where cd.continent is not null

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
(mysql.connector.errors.ProgrammingError) 1050 (42S01): Table 'PercentPeopleVaccindated' already exists
[SQL: -- Create view to store data for later visualizations
Create View PercentPeopleVaccindated as
Select cd.continent, cd.location, cd.date, cd.population, cv.new_vaccinations,
SUM(cv.new_vaccinations) Over(partition by location Order by cd.location,date) as rolling_total_vaccinations
From coviddeaths as cd
Inner Join covidvaccinations as cv
on cd.location = cv.location
and cd.date = cv.date
Where cd.continent is not null]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [46]:
%%sql 
-- Query view 
Select * 
From PercentPeopleVaccindated
Limit 3;

 * mysql+mysqlconnector://root:***@localhost:3306/Portfolio
3 rows affected.

[('Asia', 'Afghanistan', '2020-01-03', 38928341.0, None, None),
 ('Asia', 'Afghanistan', '2020-01-04', 38928341.0, None, None),
 ('Asia', 'Afghanistan', '2020-01-05', 38928341.0, None, None)]